<section class="top-container">
    <header class="showcase">
        <h1>Your Web Presence</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, ipsam! Nihil quo minima nulla atque!</p>
        <a href="#" class="btn">Read More</a>
    </header>
    <div class="top-box top-box-a">
        <h4>Membership</h4>
        <p class="price">$199/mo</p>
        <a href="" class="btn">Buy Now</a>
    </div>
    <div class="top-box top-box-b">
        <h4>Pro Membership</h4>
        <p class="price">$299/mo</p>
        <a href="" class="btn">Buy Now</a>
    </div>
</section>

<!-- Boxes Section -->
<section class="boxes">
    <div class="box">
        <i class="fas fa-chart-pie fa-4x"></i>
        <h3>Analytics</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
    </div>
    <div class="box">
        <i class="fas fa-globe fa-4x"></i>
        <h3>Marketing</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
    </div>
    <div class="box">
        <i class="fas fa-cog fa-4x"></i>
        <h3>Development</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
    </div>
    <div class="box">
        <i class="fas fa-users fa-4x"></i>
        <h3>Support</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, expedita?</p>
    </div>
</section>

<!-- Info Section -->
<section class="info">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" id="infocarousel">
            
       
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<!-- Portfolio -->
<section class="portfolio">
    <img src="https://source.unsplash.com/random/200x200" alt="">
    <img src="https://source.unsplash.com/random/201x200" alt="">
    <img src="https://source.unsplash.com/random/202x200" alt="">
    <img src="https://source.unsplash.com/random/203x200" alt="">
    <img src="https://source.unsplash.com/random/204x200" alt="">
    <img src="https://source.unsplash.com/random/205x200" alt="">
    <img src="https://source.unsplash.com/random/206x200" alt="">
    <img src="https://source.unsplash.com/random/207x200" alt="">
    <img src="https://source.unsplash.com/random/208x200" alt="">
</section>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

<script>

    $(document).ready(function(){
        $.get({
            url: '@Url.Action("GetPosts","Home")',
            success: function(result)
            {
                $('#infocarousel').html(result);
            }
        });
    })

</script>
